body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background-color: darkgray;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 5px;
    margin: 20px auto;
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
}

.cell {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell.red {
    background-color: red;
}

.cell.yellow {
    background-color: yellow;
}

#reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

#message {
    margin-top: 20px;
    font-size: 18px;
}
